{"openapi":"3.0.0","info":{"title":"BriskStack Platform API","version":"0.1.0","description":"Unified platform service for BriskStack ventures. Provides authentication, storage, AI gateway, and activity tracking."},"servers":[{"url":"https://api.briskstack.com/platform/v1","description":"Production"},{"url":"https://api-staging.briskstack.com/platform/v1","description":"Staging"},{"url":"https://api-dev.briskstack.com/platform/v1","description":"Development"},{"url":"http://localhost:8787/platform/v1","description":"Local development"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT token from Supabase authentication. Used for user authentication across all BriskStack services."},"apiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"API key authentication. Used for BYOK (Bring Your Own Key) scenarios, such as passing your own OpenAI/Anthropic API key to AI Gateway."}},"schemas":{"HealthzResponse":{"type":"object","properties":{"status":{"type":"string","enum":["ok"],"description":"Health status indicator","example":"ok"},"service":{"type":"string","description":"Service name","example":"hello-world"},"environment":{"type":"string","description":"Deployment environment","example":"production"},"version":{"type":"string","description":"Service version","example":"1.0.0"},"timestamp":{"type":"string","format":"date-time","description":"Current server time in ISO 8601 format","example":"2025-01-15T12:00:00Z"},"uptime":{"type":"number","description":"Service uptime in seconds (if available)","example":3600}},"required":["status","service","environment","version","timestamp"]},"UserProfile":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"User ID (UUID)","example":"123e4567-e89b-12d3-a456-426614174000"},"email":{"type":"string","nullable":true,"format":"email","description":"User email (null for managed accounts)","example":"user@example.com"},"emailVerified":{"type":"boolean","description":"Whether email is verified","example":true},"name":{"type":"string","nullable":true,"description":"User display name","example":"John Doe"},"avatarUrl":{"type":"string","nullable":true,"format":"uri","description":"Profile picture URL","example":"https://example.com/avatar.jpg"},"accountType":{"type":"string","enum":["adult","child"],"description":"Account type: adult or child (COPPA)","example":"adult"},"createdAt":{"type":"string","format":"date-time","description":"Account creation timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","email","emailVerified","name","avatarUrl","accountType","createdAt"]},"RegisterResponse":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserProfile"},"accessToken":{"type":"string","description":"JWT access token (1 hour)","example":"eyJhbGciOiJIUzI1NiIs..."},"refreshToken":{"type":"string","description":"Refresh token (7 days)","example":"rt_abc123..."},"expiresAt":{"type":"string","format":"date-time","description":"Access token expiration","example":"2025-01-15T13:00:00Z"}},"required":["user","accessToken","refreshToken","expiresAt"]},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"UNAUTHORIZED"},"message":{"type":"string","description":"Error message","example":"Invalid credentials"},"details":{"type":"object","additionalProperties":{"nullable":true},"description":"Additional error details"}},"required":["code","message"]}},"required":["error"]},"RegisterRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"User email address (lowercase)","example":"user@example.com"},"password":{"type":"string","minLength":8,"maxLength":128,"description":"Password (8-128 characters)","example":"SecurePass123!"},"name":{"type":"string","minLength":1,"maxLength":100,"description":"User display name","example":"John Doe"},"accountType":{"type":"string","enum":["adult","child"],"default":"adult","description":"Account type: adult or child (COPPA)","example":"adult"},"birthYear":{"type":"integer","minimum":1900,"maximum":2025,"description":"Birth year for age verification","example":1990},"ventureId":{"type":"string","format":"uuid","description":"Venture ID for scoped sessions","example":"550e8400-e29b-41d4-a716-446655440000"},"clientType":{"type":"string","enum":["web","mobile","desktop"],"description":"Client type for session duration policy (mobile/desktop = 1 year, web = default)","example":"web"}},"required":["email","password"]},"LoginResponse":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserProfile"},"accessToken":{"type":"string","description":"JWT access token (1 hour)","example":"eyJhbGciOiJIUzI1NiIs..."},"refreshToken":{"type":"string","description":"Refresh token (7 days)","example":"rt_abc123..."},"expiresAt":{"type":"string","format":"date-time","description":"Access token expiration","example":"2025-01-15T13:00:00Z"}},"required":["user","accessToken","refreshToken","expiresAt"]},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"User email address (lowercase)","example":"user@example.com"},"password":{"type":"string","minLength":8,"maxLength":128,"description":"Password (8-128 characters)","example":"SecurePass123!"},"ventureId":{"type":"string","format":"uuid","description":"Venture ID for scoped sessions","example":"550e8400-e29b-41d4-a716-446655440000"},"clientType":{"type":"string","enum":["web","mobile","desktop"],"description":"Client type for session duration policy (mobile/desktop = 1 year, web = default)","example":"web"}},"required":["email","password"]},"RefreshResponse":{"type":"object","properties":{"accessToken":{"type":"string","description":"New JWT access token","example":"eyJhbGciOiJIUzI1NiIs..."},"refreshToken":{"type":"string","description":"New refresh token (rotated)","example":"rt_xyz789..."},"expiresAt":{"type":"string","format":"date-time","description":"New access token expiration","example":"2025-01-15T13:00:00Z"}},"required":["accessToken","refreshToken","expiresAt"]},"RefreshRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1,"description":"Current refresh token","example":"rt_abc123..."},"clientType":{"type":"string","enum":["web","mobile","desktop"],"description":"Client type for session duration policy (mobile/desktop = 1 year, web = default)","example":"web"}},"required":["refreshToken"]},"PasswordResetResponse":{"type":"object","properties":{"message":{"type":"string","description":"Status message (intentionally vague for security)","example":"If an account exists, a password reset email has been sent"}},"required":["message"]},"PasswordResetRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"User email address (lowercase)","example":"user@example.com"}},"required":["email"]},"PasswordResetConfirmResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Password reset successful","example":true},"message":{"type":"string","description":"Status message","example":"Password has been reset successfully"}},"required":["success","message"]},"PasswordResetConfirmRequest":{"type":"object","properties":{"token":{"type":"string","minLength":1,"description":"Password reset token from email","example":"reset_token_abc123"},"password":{"type":"string","minLength":8,"maxLength":128,"description":"Password (8-128 characters)","example":"SecurePass123!"}},"required":["token","password"]},"EmailVerifyResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Verification successful","example":true},"message":{"type":"string","description":"Status message","example":"Email has been verified"}},"required":["success","message"]},"EmailVerifyRequest":{"type":"object","properties":{"token":{"type":"string","minLength":1,"description":"Email verification token","example":"verify_token_abc123"}},"required":["token"]},"ResendVerificationResponse":{"type":"object","properties":{"message":{"type":"string","description":"Status message","example":"If the email is registered and unverified, a verification email has been sent"}},"required":["message"]},"ResendVerificationRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"User email address (lowercase)","example":"user@example.com"}},"required":["email"]},"OAuthStartResponse":{"type":"object","properties":{"authUrl":{"type":"string","format":"uri","description":"OAuth authorization URL","example":"https://accounts.google.com/o/oauth2/v2/auth?..."},"state":{"type":"string","description":"OAuth state parameter","example":"state_abc123"}},"required":["authUrl","state"]},"OAuthStartRequest":{"type":"object","properties":{"provider":{"type":"string","enum":["google","apple"],"description":"OAuth provider","example":"google"},"redirectUri":{"type":"string","format":"uri","description":"Redirect URI after OAuth","example":"https://app.example.com/auth/callback"},"ventureId":{"type":"string","format":"uuid","description":"Venture ID for scoped sessions","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["provider","redirectUri"]},"OAuthCallbackResponse":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserProfile"},"accessToken":{"type":"string","description":"JWT access token","example":"eyJhbGciOiJIUzI1NiIs..."},"refreshToken":{"type":"string","description":"Refresh token","example":"rt_abc123..."},"expiresAt":{"type":"string","format":"date-time","description":"Access token expiration","example":"2025-01-15T13:00:00Z"},"isNewUser":{"type":"boolean","description":"Whether this is a new registration","example":false}},"required":["user","accessToken","refreshToken","expiresAt","isNewUser"]},"OAuthCallbackRequest":{"type":"object","properties":{"provider":{"type":"string","enum":["google","apple"],"description":"OAuth provider","example":"google"},"code":{"type":"string","minLength":1,"description":"OAuth authorization code","example":"auth_code_xyz789"},"state":{"type":"string","minLength":1,"description":"OAuth state parameter","example":"state_abc123"}},"required":["provider","code","state"]},"ClaimManagedUserResponse":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserProfile"},"accessToken":{"type":"string","description":"JWT access token","example":"eyJhbGciOiJIUzI1NiIs..."},"refreshToken":{"type":"string","description":"Refresh token","example":"rt_abc123..."},"expiresAt":{"type":"string","format":"date-time","description":"Access token expiration","example":"2025-01-15T13:00:00Z"}},"required":["user","accessToken","refreshToken","expiresAt"]},"ClaimManagedUserRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"Platform user ID to claim","example":"123e4567-e89b-12d3-a456-426614174000"},"email":{"type":"string","format":"email","description":"User email address (lowercase)","example":"user@example.com"},"password":{"type":"string","minLength":8,"maxLength":128,"description":"Password (8-128 characters)","example":"SecurePass123!"}},"required":["userId","email","password"]},"LogoutResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Logout successful","example":true},"message":{"type":"string","description":"Status message","example":"Successfully logged out"}},"required":["success","message"]},"LogoutRequest":{"type":"object","properties":{"refreshToken":{"type":"string","description":"Refresh token to revoke (optional, will revoke current session)","example":"rt_abc123..."},"allSessions":{"type":"boolean","default":false,"description":"Revoke all sessions for this user","example":false}}},"Session":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Session ID","example":"123e4567-e89b-12d3-a456-426614174000"},"userAgent":{"type":"string","nullable":true,"description":"User agent string","example":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)..."},"ipAddress":{"type":"string","nullable":true,"description":"IP address","example":"192.168.1.1"},"createdAt":{"type":"string","format":"date-time","description":"Session creation timestamp","example":"2025-01-15T12:00:00Z"},"lastUsedAt":{"type":"string","format":"date-time","description":"Last activity timestamp","example":"2025-01-15T12:30:00Z"},"current":{"type":"boolean","description":"Is this the current session","example":true}},"required":["id","userAgent","ipAddress","createdAt","lastUsedAt","current"]},"SessionsResponse":{"type":"object","properties":{"sessions":{"type":"array","items":{"$ref":"#/components/schemas/Session"},"description":"List of active sessions"}},"required":["sessions"]},"SuccessResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Operation successful","example":true},"message":{"type":"string","description":"Status message","example":"Operation completed successfully"}},"required":["success"]},"UpdateProfileRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"User display name","example":"John Doe"},"avatarUrl":{"type":"string","nullable":true,"format":"uri","description":"Profile picture URL (null to remove)","example":"https://example.com/avatar.jpg"}}},"UpdateUserByIdRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"User display name","example":"John Doe"},"avatarUrl":{"type":"string","nullable":true,"format":"uri","description":"Profile picture URL (null to remove)","example":"https://example.com/avatar.jpg"}}},"CreateManagedUserResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Platform user ID","example":"123e4567-e89b-12d3-a456-426614174000"},"name":{"type":"string","nullable":true,"example":"Emma"},"avatarUrl":{"type":"string","nullable":true,"example":"https://example.com/avatar.jpg"},"accountType":{"type":"string","enum":["adult","child"],"description":"Account type: adult or child (COPPA)","example":"adult"},"createdAt":{"type":"string","format":"date-time","example":"2025-01-15T12:00:00Z"}},"required":["id","name","avatarUrl","accountType","createdAt"]},"CreateManagedUserRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"User display name","example":"Emma"},"accountType":{"type":"string","enum":["adult","child"],"default":"adult","description":"Account type (adult or child for COPPA)","example":"child"},"birthYear":{"type":"integer","minimum":1900,"maximum":2025,"description":"Birth year for age verification","example":2015},"avatarUrl":{"type":"string","format":"uri","description":"Profile picture URL","example":"https://example.com/avatar.jpg"},"parentUserId":{"type":"string","format":"uuid","description":"Parent user ID. If provided, automatically creates a verified parental consent record. Required for multi-child device sharing to work.","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["name"]},"LoginManagedUserResponse":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserProfile"},"accessToken":{"type":"string","description":"Child JWT access token (1 hour)","example":"eyJhbGciOiJIUzI1NiIs..."},"refreshToken":{"type":"string","description":"Child refresh token (7 days)","example":"rt_abc123..."},"expiresAt":{"type":"string","format":"date-time","description":"Access token expiration","example":"2025-01-15T13:00:00Z"}},"required":["user","accessToken","refreshToken","expiresAt"]},"LoginManagedUserRequest":{"type":"object","properties":{"managedUserId":{"type":"string","format":"uuid","description":"Platform user ID of the managed user (child)","example":"123e4567-e89b-12d3-a456-426614174000"},"ventureId":{"type":"string","format":"uuid","description":"Venture ID for scoped sessions","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["managedUserId"]},"GrantConsentResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether consent was granted successfully","example":true},"message":{"type":"string","description":"Status message","example":"Parental consent granted"}},"required":["success","message"]},"GrantConsentRequest":{"type":"object","properties":{"childUserId":{"type":"string","format":"uuid","description":"Platform user ID of the child to grant consent for","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["childUserId"]},"UploadUrlResponse":{"type":"object","properties":{"uploadUrl":{"type":"string","format":"uri","description":"Pre-signed URL for uploading","example":"https://storage.briskstack.com/upload/..."},"publicUrl":{"type":"string","format":"uri","description":"Public URL where the object will be accessible after upload","example":"https://cdn.briskstack.com/briskgrow-media/bg/books/.../cover.jpg"},"expiresAt":{"type":"string","format":"date-time","description":"Upload URL expiration timestamp","example":"2025-01-15T13:00:00Z"}},"required":["uploadUrl","publicUrl","expiresAt"]},"UploadUrlRequest":{"type":"object","properties":{"bucket":{"type":"string","minLength":1,"maxLength":63,"description":"R2 bucket name","example":"briskgrow-media"},"key":{"type":"string","minLength":1,"maxLength":1024,"description":"Object key (path within bucket)","example":"bg/books/123e4567-e89b-12d3-a456-426614174000/cover.jpg"},"contentType":{"type":"string","minLength":1,"description":"MIME content type","example":"image/jpeg"},"expiresIn":{"type":"integer","minimum":60,"maximum":604800,"default":3600,"description":"URL expiration in seconds (60 - 604800, default: 3600)","example":3600},"maxSize":{"type":"integer","minimum":1,"maximum":5368709120,"description":"Maximum file size in bytes (default: 10MB, max: 5GB)","example":10485760}},"required":["bucket","key","contentType"]},"DownloadUrlResponse":{"type":"object","properties":{"downloadUrl":{"type":"string","format":"uri","description":"Pre-signed URL for downloading","example":"https://storage.briskstack.com/download/..."},"expiresAt":{"type":"string","format":"date-time","description":"Download URL expiration timestamp","example":"2025-01-15T13:00:00Z"}},"required":["downloadUrl","expiresAt"]},"DownloadUrlRequest":{"type":"object","properties":{"bucket":{"type":"string","minLength":1,"maxLength":63,"description":"R2 bucket name","example":"briskgrow-media"},"key":{"type":"string","minLength":1,"maxLength":1024,"description":"Object key (path within bucket)","example":"bg/books/123e4567-e89b-12d3-a456-426614174000/cover.jpg"},"expiresIn":{"type":"integer","minimum":60,"maximum":604800,"default":3600,"description":"URL expiration in seconds (60 - 604800, default: 3600)","example":3600}},"required":["bucket","key"]},"ObjectMetadata":{"type":"object","properties":{"bucket":{"type":"string","minLength":1,"maxLength":63,"description":"R2 bucket name","example":"briskgrow-media"},"key":{"type":"string","minLength":1,"maxLength":1024,"description":"Object key (path within bucket)","example":"bg/books/123e4567-e89b-12d3-a456-426614174000/cover.jpg"},"size":{"type":"integer","description":"Object size in bytes","example":1048576},"contentType":{"type":"string","minLength":1,"description":"MIME content type","example":"image/jpeg"},"etag":{"type":"string","description":"Object ETag for caching/versioning","example":"\"abc123def456\""},"lastModified":{"type":"string","format":"date-time","description":"Last modification timestamp","example":"2025-01-15T12:00:00Z"},"customMetadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Custom metadata key-value pairs","example":{"x-venture":"briskgrow","x-user-id":"123"}}},"required":["bucket","key","size","contentType","etag","lastModified"]},"GetMetadataRequest":{"type":"object","properties":{"bucket":{"type":"string","minLength":1,"maxLength":63,"description":"R2 bucket name","example":"briskgrow-media"},"key":{"type":"string","minLength":1,"maxLength":1024,"description":"Object key (path within bucket)","example":"bg/books/123e4567-e89b-12d3-a456-426614174000/cover.jpg"}},"required":["bucket","key"]},"DeleteObjectResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether deletion was successful","example":true},"message":{"type":"string","description":"Status message","example":"Object deleted successfully"}},"required":["success","message"]},"DeleteObjectRequest":{"type":"object","properties":{"bucket":{"type":"string","minLength":1,"maxLength":63,"description":"R2 bucket name","example":"briskgrow-media"},"key":{"type":"string","minLength":1,"maxLength":1024,"description":"Object key (path within bucket)","example":"bg/books/123e4567-e89b-12d3-a456-426614174000/cover.jpg"}},"required":["bucket","key"]},"ListObjectsResponse":{"type":"object","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/ObjectMetadata"},"description":"List of object metadata"},"cursor":{"type":"string","nullable":true,"description":"Cursor for next page (null if no more results)","example":"eyJrZXkiOiJiZy9ib29rcy8xMjMuanBnIn0="},"truncated":{"type":"boolean","description":"Whether there are more results","example":false}},"required":["objects","cursor","truncated"]},"ListObjectsRequest":{"type":"object","properties":{"bucket":{"type":"string","minLength":1,"maxLength":63,"description":"R2 bucket name","example":"briskgrow-media"},"prefix":{"type":"string","maxLength":1024,"description":"Filter objects by key prefix","example":"bg/books/"},"limit":{"type":"integer","minimum":1,"maximum":1000,"default":100,"description":"Maximum number of objects to return (1-1000)","example":100},"cursor":{"type":"string","description":"Pagination cursor from previous response","example":"eyJrZXkiOiJiZy9ib29rcy8xMjMuanBnIn0="}},"required":["bucket"]},"VideoUploadResponse":{"type":"object","properties":{"videoId":{"type":"string","format":"uuid","description":"Cloudflare Stream video ID","example":"123e4567-e89b-12d3-a456-426614174000"},"uploadUrl":{"type":"string","format":"uri","description":"TUS upload URL for video","example":"https://upload.videodelivery.net/..."},"status":{"type":"string","enum":["pending","uploading","queued","ready","error"],"description":"Current video processing status","example":"pending"},"expiresAt":{"type":"string","format":"date-time","description":"Upload URL expiration timestamp","example":"2025-01-15T13:00:00Z"}},"required":["videoId","uploadUrl","status","expiresAt"]},"VideoUploadRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200,"description":"Video filename for reference","example":"grandpa-video-message.mp4"},"maxDurationSeconds":{"type":"integer","minimum":1,"maximum":21600,"default":300,"description":"Maximum video duration in seconds (default: 5 minutes, max: 6 hours)","example":300},"requireSignedUrls":{"type":"boolean","default":true,"description":"Require signed URLs for playback","example":true},"allowedOrigins":{"type":"array","items":{"type":"string","format":"uri"},"description":"Allowed origins for playback","example":["https://app.briskgrow.com"]},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Custom metadata for the video","example":{"ventureId":"briskgrow","achievementId":"123"}}}},"VideoStatus":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Cloudflare Stream video ID","example":"123e4567-e89b-12d3-a456-426614174000"},"status":{"type":"string","enum":["pending","uploading","queued","processing","ready","error"],"description":"Current video processing status","example":"ready"},"duration":{"type":"number","nullable":true,"description":"Video duration in seconds (null if not processed)","example":45.5},"size":{"type":"integer","nullable":true,"description":"Video size in bytes (null if not processed)","example":10485760},"playbackUrl":{"type":"string","nullable":true,"format":"uri","description":"HLS playback URL (null if not ready)","example":"https://customer-xyz.cloudflarestream.com/.../manifest/video.m3u8"},"thumbnailUrl":{"type":"string","nullable":true,"format":"uri","description":"Video thumbnail URL (null if not ready)","example":"https://customer-xyz.cloudflarestream.com/.../thumbnails/thumbnail.jpg"},"createdAt":{"type":"string","format":"date-time","description":"Video creation timestamp","example":"2025-01-15T12:00:00Z"},"readyToStream":{"type":"boolean","description":"Whether video is ready for playback","example":true},"errorMessage":{"type":"string","nullable":true,"description":"Error message if status is error","example":null},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Custom metadata","example":{"ventureId":"briskgrow"}}},"required":["id","status","duration","size","playbackUrl","thumbnailUrl","createdAt","readyToStream","errorMessage"]},"VideoSignedUrlResponse":{"type":"object","properties":{"signedUrl":{"type":"string","format":"uri","description":"Signed playback URL","example":"https://customer-xyz.cloudflarestream.com/.../manifest/video.m3u8?token=..."},"thumbnailUrl":{"type":"string","format":"uri","description":"Signed thumbnail URL","example":"https://customer-xyz.cloudflarestream.com/.../thumbnails/thumbnail.jpg?token=..."},"expiresAt":{"type":"string","format":"date-time","description":"Signed URL expiration timestamp","example":"2025-01-15T13:00:00Z"}},"required":["signedUrl","thumbnailUrl","expiresAt"]},"VideoSignedUrlRequest":{"type":"object","properties":{"videoId":{"type":"string","format":"uuid","description":"Cloudflare Stream video ID","example":"123e4567-e89b-12d3-a456-426614174000"},"expiresIn":{"type":"integer","minimum":60,"maximum":86400,"default":3600,"description":"Signed URL expiration in seconds (default: 1 hour, max: 24 hours)","example":3600}},"required":["videoId"]},"DeleteVideoResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether deletion was successful","example":true},"message":{"type":"string","description":"Status message","example":"Video deleted successfully"}},"required":["success","message"]},"ChatMessage":{"type":"object","properties":{"role":{"type":"string","enum":["system","user","assistant","tool","function"],"example":"user"},"content":{"anyOf":[{"type":"string"},{"nullable":true},{"nullable":true}],"example":"Hello, how can you help me?"},"name":{"type":"string","example":"user_123"},"tool_calls":{"type":"array","items":{"nullable":true}},"tool_call_id":{"type":"string","example":"call_abc123"}},"required":["role"]},"ChatCompletionResponse":{"type":"object","properties":{"id":{"type":"string","example":"chatcmpl-abc123"},"object":{"type":"string","example":"chat.completion"},"created":{"type":"integer","example":1700000000},"model":{"type":"string","example":"gpt-4"},"choices":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer","example":0},"message":{"$ref":"#/components/schemas/ChatMessage"},"finish_reason":{"type":"string","nullable":true,"example":"stop"},"logprobs":{"nullable":true}},"required":["index","message","finish_reason"]}},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","example":50},"completion_tokens":{"type":"integer","example":100},"total_tokens":{"type":"integer","example":150}},"required":["prompt_tokens","completion_tokens","total_tokens"]},"system_fingerprint":{"type":"string","example":"fp_abc123"}},"required":["id","object","created","model","choices"]},"ChatCompletionRequest":{"type":"object","properties":{"model":{"type":"string","description":"Model to use (e.g., \"openai/gpt-4\", \"anthropic/claude-3-5-sonnet-20241022\")","example":"openai/gpt-4"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessage"},"minItems":1,"description":"Array of messages in the conversation"},"temperature":{"type":"number","minimum":0,"maximum":2,"description":"Sampling temperature (0-2)","example":0.7},"top_p":{"type":"number","minimum":0,"maximum":1,"description":"Nucleus sampling parameter","example":1},"n":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Number of completions to generate","example":1},"stream":{"type":"boolean","description":"Whether to stream responses","example":false},"stop":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Stop sequences"},"max_tokens":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Maximum tokens to generate","example":1000},"presence_penalty":{"type":"number","minimum":-2,"maximum":2,"description":"Presence penalty (-2 to 2)","example":0},"frequency_penalty":{"type":"number","minimum":-2,"maximum":2,"description":"Frequency penalty (-2 to 2)","example":0},"logit_bias":{"type":"object","additionalProperties":{"type":"number"},"description":"Token logit bias"},"user":{"type":"string","description":"Unique user identifier"},"tools":{"type":"array","items":{"nullable":true},"description":"Tools available for the model to call"},"tool_choice":{"anyOf":[{"type":"string"},{"nullable":true},{"nullable":true}],"description":"Controls which tool is called"},"response_format":{"type":"object","properties":{"type":{"type":"string","enum":["text","json_object"]}},"required":["type"],"description":"Response format (text or json_object)"},"seed":{"type":"integer","description":"Random seed for deterministic sampling"}},"required":["model","messages"]},"ActivityType":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Activity type ID","example":"123e4567-e89b-12d3-a456-426614174000"},"code":{"type":"string","description":"Unique code for this activity type","example":"reading"},"name":{"type":"string","description":"Display name","example":"Reading"},"description":{"type":"string","nullable":true,"description":"Activity type description","example":"Track reading sessions and books"},"category":{"type":"string","description":"Category (learn, grow, help, security)","example":"learn"},"icon":{"type":"string","nullable":true,"description":"Icon emoji or identifier","example":"📚"},"unit":{"type":"string","description":"Unit of measurement (minutes, count, pages)","example":"minutes"},"aggregation":{"type":"string","enum":["sum","count","max","avg"],"description":"How to aggregate values","example":"sum"},"xpPerUnit":{"type":"integer","description":"XP awarded per unit of activity","example":1},"streakEligible":{"type":"boolean","description":"Whether this activity counts toward streaks","example":true},"isActive":{"type":"boolean","description":"Whether this activity type is active","example":true},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","code","name","description","category","icon","unit","aggregation","xpPerUnit","streakEligible","isActive","createdAt"]},"ActivityTypeListResponse":{"type":"object","properties":{"activityTypes":{"type":"array","items":{"$ref":"#/components/schemas/ActivityType"},"description":"List of activity types"}},"required":["activityTypes"]},"CreateActivityTypeRequest":{"type":"object","properties":{"code":{"type":"string","minLength":1,"maxLength":50,"description":"Unique code for this activity type (1-50 chars)","example":"reading"},"name":{"type":"string","minLength":1,"maxLength":100,"description":"Display name (1-100 chars)","example":"Reading"},"description":{"type":"string","maxLength":500,"description":"Activity type description","example":"Track reading sessions and books"},"category":{"type":"string","minLength":1,"maxLength":50,"description":"Category (learn, grow, help, security)","example":"learn"},"icon":{"type":"string","maxLength":10,"description":"Icon emoji or identifier","example":"📚"},"unit":{"type":"string","minLength":1,"maxLength":20,"description":"Unit of measurement","example":"minutes"},"aggregation":{"type":"string","enum":["sum","count","max","avg"],"description":"How to aggregate values (default: sum)","example":"sum"},"xpPerUnit":{"type":"integer","minimum":0,"description":"XP awarded per unit (default: 0)","example":1},"streakEligible":{"type":"boolean","description":"Whether this counts toward streaks (default: false)","example":true},"metadataSchema":{"type":"object","additionalProperties":{"nullable":true},"description":"JSON Schema for activity metadata validation","example":{"properties":{"bookId":{"type":"string"}}}}},"required":["code","name","category","unit"]},"RecordActivityResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Activity ID","example":"123e4567-e89b-12d3-a456-426614174000"},"activityType":{"type":"string","description":"Activity type code","example":"reading"},"value":{"type":"number","description":"Activity value","example":30},"xpAwarded":{"type":"integer","description":"XP awarded for this activity","example":30},"performedAt":{"type":"string","format":"date-time","description":"When the activity was performed","example":"2025-01-15T10:00:00Z"},"totalXp":{"type":"integer","description":"User total XP after this activity","example":1250},"level":{"type":"integer","description":"User level after this activity","example":5},"currentStreak":{"type":"integer","description":"Current streak count (if streak-eligible activity)","example":5},"newBadges":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"},"code":{"type":"string","example":"bookworm"},"name":{"type":"string","example":"Bookworm"},"icon":{"type":"string","nullable":true,"example":"📚"}},"required":["id","code","name","icon"]},"description":"Badges earned from this activity"}},"required":["id","activityType","value","xpAwarded","performedAt","totalXp","level"]},"RecordActivityRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User who performed the activity","example":"123e4567-e89b-12d3-a456-426614174001"},"activityType":{"type":"string","minLength":1,"maxLength":50,"description":"Activity type code","example":"reading"},"value":{"type":"number","minimum":0,"description":"Activity value (minutes, count, etc.)","example":30},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Activity-specific data","example":{"bookId":"book-123","title":"Charlotte's Web"}},"performedAt":{"type":"string","format":"date-time","description":"When the activity was performed (default: now)","example":"2025-01-15T10:00:00Z"},"notes":{"type":"string","maxLength":1000,"description":"User notes","example":"Finished chapter 5"},"evidenceUrl":{"type":"string","format":"uri","description":"Evidence file URL","example":"https://storage.example.com/photo.jpg"},"sourceId":{"type":"string","maxLength":100,"description":"Venture source record ID","example":"bg_child_books-123"},"sourceType":{"type":"string","maxLength":50,"description":"Venture source table name","example":"bg_child_books"}},"required":["userId","activityType","value"]},"Activity":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Activity ID","example":"123e4567-e89b-12d3-a456-426614174000"},"userId":{"type":"string","format":"uuid","description":"User who performed the activity","example":"123e4567-e89b-12d3-a456-426614174001"},"activityType":{"type":"string","description":"Activity type code","example":"reading"},"value":{"type":"number","description":"Activity value (minutes, count, etc.)","example":30},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Activity-specific data","example":{"bookId":"book-123","title":"Charlotte's Web"}},"notes":{"type":"string","nullable":true,"description":"User notes","example":"Finished chapter 5"},"performedAt":{"type":"string","format":"date-time","description":"When the activity was performed","example":"2025-01-15T10:00:00Z"},"createdAt":{"type":"string","format":"date-time","description":"When the activity was recorded","example":"2025-01-15T12:00:00Z"},"xpAwarded":{"type":"integer","description":"XP awarded for this activity","example":30}},"required":["id","userId","activityType","value","notes","performedAt","createdAt","xpAwarded"]},"ActivityListResponse":{"type":"object","properties":{"activities":{"type":"array","items":{"$ref":"#/components/schemas/Activity"},"description":"List of activities"},"pagination":{"type":"object","properties":{"total":{"type":"integer","description":"Total number of activities","example":100},"limit":{"type":"integer","description":"Maximum activities returned","example":50},"offset":{"type":"integer","description":"Offset from start","example":0},"hasMore":{"type":"boolean","description":"Whether there are more activities","example":true}},"required":["total","limit","offset","hasMore"],"description":"Pagination info"}},"required":["activities","pagination"]},"StatsByType":{"type":"object","properties":{"activityType":{"type":"string","description":"Activity type code","example":"reading"},"value":{"type":"number","description":"Total value for this type","example":180},"count":{"type":"integer","description":"Number of activities","example":12},"unit":{"type":"string","description":"Unit of measurement","example":"minutes"},"xpEarned":{"type":"integer","description":"XP earned for this type","example":180},"breakdown":{"type":"object","additionalProperties":{"type":"number"},"description":"Breakdown by metadata field","example":{"fiction":120,"non-fiction":60}}},"required":["activityType","value","count","unit","xpEarned"]},"DailyStat":{"type":"object","properties":{"date":{"type":"string","description":"Date (YYYY-MM-DD)","example":"2025-01-15"},"byType":{"type":"object","additionalProperties":{"type":"object","properties":{"value":{"type":"number","description":"Total value"},"count":{"type":"integer","description":"Activity count"}},"required":["value","count"]},"description":"Stats per activity type","example":{"reading":{"value":30,"count":2},"study":{"value":45,"count":1}}}},"required":["date","byType"]},"StatsResponse":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"period":{"type":"object","properties":{"from":{"type":"string","description":"Period start date","example":"2025-01-01"},"to":{"type":"string","description":"Period end date","example":"2025-01-07"},"label":{"type":"string","description":"Period label","example":"This Week"}},"required":["from","to","label"],"description":"Query period"},"summary":{"type":"object","properties":{"totalActivities":{"type":"integer","description":"Total number of activities","example":45},"totalValue":{"type":"number","description":"Total aggregated value","example":360},"totalXp":{"type":"integer","description":"Total XP earned","example":720}},"required":["totalActivities","totalValue","totalXp"],"description":"Summary statistics"},"byType":{"type":"array","items":{"$ref":"#/components/schemas/StatsByType"},"description":"Stats broken down by activity type"},"daily":{"type":"array","items":{"$ref":"#/components/schemas/DailyStat"},"description":"Daily breakdown (if includeDaily=true)"},"comparison":{"type":"object","properties":{"previousPeriodValue":{"type":"number","description":"Total value in previous period","example":280},"changePercent":{"type":"number","description":"Percentage change from previous period","example":28.6}},"required":["previousPeriodValue","changePercent"],"description":"Comparison with previous period (if includeComparison=true)"}},"required":["userId","period","summary","byType"]},"AwardXpResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"XP event ID","example":"123e4567-e89b-12d3-a456-426614174000"},"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"amount":{"type":"integer","description":"XP amount awarded","example":30},"totalXp":{"type":"integer","description":"User total XP after this award","example":1250},"level":{"type":"integer","description":"User level after this award","example":5},"currentStreak":{"type":"integer","description":"Current streak count (if streak updated)","example":5},"newBadges":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"code":{"type":"string"},"name":{"type":"string"},"icon":{"type":"string","nullable":true}},"required":["id","code","name","icon"]},"description":"Badges earned from this activity","example":[{"id":"...","code":"bookworm","name":"Bookworm","icon":"📚"}]}},"required":["id","userId","amount","totalXp","level"]},"GamificationErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"VALIDATION_ERROR"},"message":{"type":"string","description":"Error message","example":"Invalid request"},"details":{"type":"object","additionalProperties":{"nullable":true},"description":"Additional error details"}},"required":["code","message"]}},"required":["error"]},"AwardXpRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User to award XP to","example":"123e4567-e89b-12d3-a456-426614174001"},"amount":{"type":"integer","description":"XP amount to award (can be negative for deductions)","example":30},"eventType":{"type":"string","minLength":1,"maxLength":50,"description":"Type of XP event (activity, bonus, achievement, streak, deduction)","example":"activity"},"activityId":{"type":"string","format":"uuid","description":"Associated activity ID (if from activity)","example":"123e4567-e89b-12d3-a456-426614174002"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Additional context for this XP event","example":{"reason":"Reading bonus","multiplier":2}}},"required":["userId","amount","eventType"]},"UserXpResponse":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"totalXp":{"type":"integer","description":"Total XP accumulated","example":1250},"level":{"type":"integer","description":"Current level","example":5},"xpToNextLevel":{"type":"integer","description":"XP needed to reach next level","example":250},"levelProgress":{"type":"number","description":"Progress to next level (0-1)","example":0.75}},"required":["userId","totalXp","level","xpToNextLevel","levelProgress"]},"Streak":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Streak ID","example":"123e4567-e89b-12d3-a456-426614174000"},"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"streakType":{"type":"string","description":"Streak type (global, reading, study, etc.)","example":"global"},"currentCount":{"type":"integer","description":"Current streak count","example":5},"longestCount":{"type":"integer","description":"Longest streak achieved","example":12},"lastActivityDate":{"type":"string","nullable":true,"description":"Date of last activity that counted toward streak","example":"2025-01-15"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","userId","streakType","currentCount","longestCount","lastActivityDate","updatedAt"]},"StreakListResponse":{"type":"object","properties":{"streaks":{"type":"array","items":{"$ref":"#/components/schemas/Streak"},"description":"List of user streaks"}},"required":["streaks"]},"UpdateStreakResponse":{"type":"object","properties":{"streak":{"$ref":"#/components/schemas/Streak"},"updated":{"type":"boolean","description":"Whether the streak was updated","example":true},"action":{"type":"string","enum":["incremented","maintained","reset"],"description":"What happened to the streak","example":"incremented"}},"required":["streak","updated","action"]},"UpdateStreakRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"streakType":{"type":"string","minLength":1,"maxLength":50,"description":"Streak type to update","example":"global"},"activityDate":{"type":"string","description":"Activity date (YYYY-MM-DD, default: today)","example":"2025-01-15"}},"required":["userId","streakType"]},"Badge":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Badge ID","example":"123e4567-e89b-12d3-a456-426614174000"},"code":{"type":"string","description":"Unique badge code","example":"bookworm"},"name":{"type":"string","description":"Display name","example":"Bookworm"},"description":{"type":"string","nullable":true,"description":"Badge description","example":"Read 10 books"},"icon":{"type":"string","nullable":true,"description":"Badge icon","example":"📚"},"category":{"type":"string","description":"Badge category (achievement, streak, milestone, special)","example":"achievement"},"xpThreshold":{"type":"integer","nullable":true,"description":"XP threshold for auto-award","example":1000},"streakThreshold":{"type":"integer","nullable":true,"description":"Streak threshold for auto-award","example":7},"activityCountThreshold":{"type":"integer","nullable":true,"description":"Activity count threshold for auto-award","example":50},"isActive":{"type":"boolean","description":"Whether badge can be earned","example":true},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","code","name","description","icon","category","xpThreshold","streakThreshold","activityCountThreshold","isActive","createdAt"]},"BadgeListResponse":{"type":"object","properties":{"badges":{"type":"array","items":{"$ref":"#/components/schemas/Badge"},"description":"List of badges"}},"required":["badges"]},"CreateBadgeRequest":{"type":"object","properties":{"code":{"type":"string","minLength":1,"maxLength":50,"description":"Unique badge code (1-50 chars)","example":"bookworm"},"name":{"type":"string","minLength":1,"maxLength":100,"description":"Display name (1-100 chars)","example":"Bookworm"},"description":{"type":"string","maxLength":500,"description":"Badge description","example":"Read 10 books"},"icon":{"type":"string","maxLength":10,"description":"Badge icon","example":"📚"},"category":{"type":"string","minLength":1,"maxLength":50,"description":"Badge category (default: achievement)","example":"achievement"},"xpThreshold":{"type":"integer","minimum":0,"description":"XP threshold for auto-award","example":1000},"streakThreshold":{"type":"integer","minimum":0,"description":"Streak threshold for auto-award","example":7},"activityCountThreshold":{"type":"integer","minimum":0,"description":"Activity count threshold for auto-award","example":50},"criteria":{"type":"object","additionalProperties":{"nullable":true},"description":"Custom criteria for badge (JSON)","example":{"activityType":"reading","minValue":100}},"sortOrder":{"type":"integer","description":"Display order","example":10}},"required":["code","name"]},"UserBadge":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"User badge record ID","example":"123e4567-e89b-12d3-a456-426614174000"},"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"badge":{"allOf":[{"$ref":"#/components/schemas/Badge"},{"description":"Badge details"}]},"earnedAt":{"type":"string","format":"date-time","description":"When the badge was earned","example":"2025-01-15T12:00:00Z"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Context about how badge was earned","example":{"earnedFor":"Reading 10 books"}}},"required":["id","userId","badge","earnedAt"]},"UserBadgeListResponse":{"type":"object","properties":{"badges":{"type":"array","items":{"$ref":"#/components/schemas/UserBadge"},"description":"List of earned badges"}},"required":["badges"]},"AwardBadgeRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User to award badge to","example":"123e4567-e89b-12d3-a456-426614174001"},"badgeCode":{"type":"string","minLength":1,"maxLength":50,"description":"Badge code to award","example":"bookworm"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Context about how badge was earned","example":{"earnedFor":"Special achievement"}}},"required":["userId","badgeCode"]},"GamificationSummary":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"xp":{"type":"object","properties":{"total":{"type":"integer","description":"Total XP","example":1250},"level":{"type":"integer","description":"Current level","example":5},"xpToNextLevel":{"type":"integer","description":"XP to next level","example":250},"levelProgress":{"type":"number","description":"Progress (0-1)","example":0.75}},"required":["total","level","xpToNextLevel","levelProgress"],"description":"XP summary"},"streaks":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"current":{"type":"integer"},"longest":{"type":"integer"},"lastActivityDate":{"type":"string","nullable":true}},"required":["type","current","longest","lastActivityDate"]},"description":"Streak summaries"},"badges":{"type":"object","properties":{"earned":{"type":"integer","description":"Badges earned","example":5},"recent":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"icon":{"type":"string","nullable":true},"earnedAt":{"type":"string","format":"date-time"}},"required":["code","name","icon","earnedAt"]},"description":"Recently earned badges"}},"required":["earned","recent"],"description":"Badge summary"}},"required":["userId","xp","streaks","badges"]},"LeaderboardRanking":{"type":"object","properties":{"rank":{"type":"integer","description":"Position in the leaderboard","example":1},"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"displayName":{"type":"string","nullable":true,"description":"User display name","example":"Emma"},"xp":{"type":"integer","description":"XP earned in this period","example":450},"level":{"type":"integer","description":"Current level","example":5}},"required":["rank","userId","displayName","xp","level"]},"LeaderboardResponse":{"type":"object","properties":{"group":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"},"type":{"type":"string","example":"family"},"name":{"type":"string","nullable":true,"example":"Smith Family"}},"required":["id","type","name"],"description":"Group info"},"period":{"type":"string","description":"Time period (today, week, month, all)","example":"week"},"rankings":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardRanking"},"description":"User rankings"}},"required":["group","period","rankings"]},"UserLeaderboard":{"type":"object","properties":{"group":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"123e4567-e89b-12d3-a456-426614174000"},"type":{"type":"string","example":"family"},"name":{"type":"string","nullable":true,"example":"Smith Family"}},"required":["id","type","name"],"description":"Group info"},"rank":{"type":"integer","description":"User rank in this group","example":2},"totalMembers":{"type":"integer","description":"Total members in the group","example":3},"xp":{"type":"integer","description":"User XP","example":450}},"required":["group","rank","totalMembers","xp"]},"UserLeaderboardsResponse":{"type":"object","properties":{"leaderboards":{"type":"array","items":{"$ref":"#/components/schemas/UserLeaderboard"},"description":"User rankings across all their groups"}},"required":["leaderboards"]},"Reward":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Reward ID","example":"123e4567-e89b-12d3-a456-426614174000"},"name":{"type":"string","description":"Reward name","example":"Ice Cream Trip"},"description":{"type":"string","nullable":true,"description":"Reward description","example":"A special trip to the ice cream shop"},"rewardType":{"type":"string","enum":["monetary","experience","virtual","badge"],"description":"Type of reward","example":"monetary"},"monetaryValue":{"type":"number","nullable":true,"description":"Monetary value (if applicable)","example":10},"currency":{"type":"string","nullable":true,"description":"Currency code","example":"USD"},"recipientId":{"type":"string","nullable":true,"format":"uuid","description":"User who receives this reward (null = unassigned/template)","example":"123e4567-e89b-12d3-a456-426614174010"},"groupId":{"type":"string","nullable":true,"format":"uuid","description":"Group ID for scoping (e.g., family)","example":"123e4567-e89b-12d3-a456-426614174020"},"providedBy":{"type":"string","nullable":true,"format":"uuid","description":"User who created/offered this reward","example":"123e4567-e89b-12d3-a456-426614174001"},"providerName":{"type":"string","nullable":true,"description":"Provider display name","example":"Grandma"},"status":{"type":"string","enum":["active","fulfilled","cancelled"],"description":"Reward status: active (in progress), fulfilled (delivered), cancelled","example":"active"},"isActive":{"type":"boolean","description":"Whether reward is active (derived from status)","example":true},"fulfilledAt":{"type":"string","nullable":true,"format":"date-time","description":"When the reward was fulfilled","example":null},"fulfilledBy":{"type":"string","nullable":true,"format":"uuid","description":"User who marked the reward as fulfilled","example":null},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","name","description","rewardType","monetaryValue","currency","recipientId","groupId","providedBy","providerName","status","isActive","fulfilledAt","fulfilledBy","createdAt"]},"CreateRewardRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200,"description":"Reward name","example":"Ice Cream Trip"},"description":{"type":"string","maxLength":500,"description":"Reward description","example":"A special trip to the ice cream shop"},"rewardType":{"type":"string","enum":["monetary","experience","virtual","badge"],"description":"Type of reward","example":"monetary"},"monetaryValue":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"Monetary value (if applicable)","example":10},"currency":{"type":"string","minLength":3,"maxLength":3,"description":"Currency code (default: USD)","example":"USD"},"recipientId":{"type":"string","format":"uuid","description":"User who will receive this reward","example":"123e4567-e89b-12d3-a456-426614174010"},"groupId":{"type":"string","format":"uuid","description":"Group to scope this reward to (e.g., family)","example":"123e4567-e89b-12d3-a456-426614174020"},"providedBy":{"type":"string","format":"uuid","description":"User creating/offering this reward","example":"123e4567-e89b-12d3-a456-426614174001"},"providerName":{"type":"string","maxLength":200,"description":"Provider display name","example":"Grandma"},"badgeId":{"type":"string","format":"uuid","description":"Badge ID (if badge reward)","example":"123e4567-e89b-12d3-a456-426614174002"}},"required":["name","rewardType"]},"RewardListResponse":{"type":"object","properties":{"rewards":{"type":"array","items":{"$ref":"#/components/schemas/Reward"},"description":"List of rewards"}},"required":["rewards"]},"UpdateRewardRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200,"description":"Reward name","example":"Updated Reward Name"},"description":{"type":"string","nullable":true,"maxLength":500,"description":"Reward description","example":"Updated description"},"monetaryValue":{"type":"number","nullable":true,"minimum":0,"exclusiveMinimum":true,"description":"Monetary value","example":15},"status":{"type":"string","enum":["active","fulfilled","cancelled"],"description":"New status","example":"fulfilled"}}},"Goal":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Goal ID","example":"123e4567-e89b-12d3-a456-426614174000"},"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"name":{"type":"string","description":"Goal name","example":"Read 10 books this month"},"description":{"type":"string","nullable":true,"description":"Goal description","example":"Complete 10 books before the end of January"},"goalType":{"type":"string","enum":["xp","activity_count","streak","custom"],"description":"Type of goal","example":"activity_count"},"targetValue":{"type":"number","description":"Target value to reach","example":10},"currentValue":{"type":"number","description":"Current progress value","example":3},"status":{"type":"string","enum":["active","completed","expired","cancelled"],"description":"Goal status","example":"active"},"startDate":{"type":"string","description":"Start date (YYYY-MM-DD)","example":"2025-01-01"},"endDate":{"type":"string","nullable":true,"description":"End date (YYYY-MM-DD)","example":"2025-01-31"},"reward":{"allOf":[{"$ref":"#/components/schemas/Reward"},{"nullable":true,"description":"Associated reward (if any)"}]},"progress":{"type":"number","description":"Progress percentage (0-1)","example":0.3},"createdBy":{"type":"string","nullable":true,"format":"uuid","description":"User who created the goal","example":"123e4567-e89b-12d3-a456-426614174002"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-15T12:00:00Z"},"completedAt":{"type":"string","nullable":true,"format":"date-time","description":"Completion timestamp","example":null}},"required":["id","userId","name","description","goalType","targetValue","currentValue","status","startDate","endDate","progress","createdBy","createdAt","completedAt"]},"CreateGoalRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User this goal is for","example":"123e4567-e89b-12d3-a456-426614174001"},"name":{"type":"string","minLength":1,"maxLength":200,"description":"Goal name","example":"Read 10 books this month"},"description":{"type":"string","maxLength":500,"description":"Goal description","example":"Complete 10 books before the end of January"},"goalType":{"type":"string","enum":["xp","activity_count","streak","custom"],"description":"Type of goal","example":"activity_count"},"targetValue":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"Target value to reach","example":10},"activityType":{"type":"string","maxLength":50,"description":"Activity type code (for activity_count goals)","example":"reading"},"startDate":{"type":"string","description":"Start date (YYYY-MM-DD)","example":"2025-01-01"},"endDate":{"type":"string","description":"End date (YYYY-MM-DD, optional)","example":"2025-01-31"},"rewardId":{"type":"string","format":"uuid","description":"Associated reward ID","example":"123e4567-e89b-12d3-a456-426614174004"}},"required":["userId","name","goalType","targetValue","startDate"]},"GoalListResponse":{"type":"object","properties":{"goals":{"type":"array","items":{"$ref":"#/components/schemas/Goal"},"description":"List of goals"}},"required":["goals"]},"SponsorPledge":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Pledge ID","example":"123e4567-e89b-12d3-a456-426614174000"},"goalId":{"type":"string","format":"uuid","description":"Associated goal ID","example":"123e4567-e89b-12d3-a456-426614174001"},"sponsorId":{"type":"string","format":"uuid","description":"Sponsor user ID","example":"123e4567-e89b-12d3-a456-426614174002"},"sponsorName":{"type":"string","nullable":true,"description":"Sponsor display name","example":"Grandma"},"pledgeType":{"type":"string","enum":["per_unit","completion_bonus","fixed"],"description":"Type of pledge","example":"per_unit"},"amountPerUnit":{"type":"number","nullable":true,"description":"Amount per unit (for per_unit pledges)","example":2},"maxAmount":{"type":"number","nullable":true,"description":"Maximum total amount","example":25},"bonusAmount":{"type":"number","nullable":true,"description":"Bonus on completion","example":10},"currency":{"type":"string","nullable":true,"description":"Currency code","example":"USD"},"isMonetary":{"type":"boolean","description":"Whether this is a monetary pledge (false for rewards like toys, trips)","example":true},"rewardDescription":{"type":"string","nullable":true,"description":"Description of non-monetary reward (for isMonetary=false)","example":"Trip to the zoo"},"status":{"type":"string","enum":["active","fulfilled","cancelled"],"description":"Pledge status","example":"active"},"amountOwed":{"type":"number","description":"Current amount owed based on progress","example":6},"amountPaid":{"type":"number","description":"Amount already paid","example":0},"message":{"type":"string","nullable":true,"description":"Message from sponsor","example":"Keep reading! Love, Grandma"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","goalId","sponsorId","sponsorName","pledgeType","amountPerUnit","maxAmount","bonusAmount","currency","isMonetary","rewardDescription","status","amountOwed","amountPaid","message","createdAt"]},"GoalWithPledges":{"type":"object","properties":{"goal":{"$ref":"#/components/schemas/Goal"},"pledges":{"type":"array","items":{"$ref":"#/components/schemas/SponsorPledge"},"description":"Pledges for this goal"},"totalPledged":{"type":"number","description":"Total amount pledged","example":25},"totalOwed":{"type":"number","description":"Total amount currently owed","example":6}},"required":["goal","pledges","totalPledged","totalOwed"]},"UpdateGoalRequest":{"type":"object","properties":{"currentValue":{"type":"number","description":"Updated progress value","example":5},"status":{"type":"string","enum":["active","completed","expired","cancelled"],"description":"Updated status","example":"completed"}}},"CreatePledgeRequest":{"type":"object","properties":{"goalId":{"type":"string","format":"uuid","description":"Goal to pledge for","example":"123e4567-e89b-12d3-a456-426614174001"},"sponsorId":{"type":"string","format":"uuid","description":"Sponsor user ID","example":"123e4567-e89b-12d3-a456-426614174002"},"sponsorName":{"type":"string","maxLength":200,"description":"Sponsor display name","example":"Grandma"},"pledgeType":{"type":"string","enum":["per_unit","completion_bonus","fixed"],"description":"Type of pledge","example":"per_unit"},"amountPerUnit":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"Amount per unit (for per_unit pledges)","example":2},"maxAmount":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"Maximum total amount","example":25},"bonusAmount":{"type":"number","minimum":0,"exclusiveMinimum":true,"description":"Bonus on completion","example":10},"currency":{"type":"string","maxLength":10,"description":"Currency code (default: USD)","example":"USD"},"isMonetary":{"type":"boolean","description":"Whether this is a monetary pledge (default: true)","example":true},"rewardDescription":{"type":"string","maxLength":500,"description":"Description of non-monetary reward (for isMonetary=false)","example":"Trip to the zoo"},"message":{"type":"string","maxLength":500,"description":"Message from sponsor","example":"Keep reading! Love, Grandma"}},"required":["goalId","sponsorId","pledgeType"]},"PledgeListResponse":{"type":"object","properties":{"pledges":{"type":"array","items":{"$ref":"#/components/schemas/SponsorPledge"},"description":"List of pledges"}},"required":["pledges"]},"UpdatePledgeRequest":{"type":"object","properties":{"status":{"type":"string","enum":["active","fulfilled","cancelled"],"description":"Updated status","example":"fulfilled"},"amountPaid":{"type":"number","description":"Updated amount paid","example":10}}},"Group":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Group ID","example":"123e4567-e89b-12d3-a456-426614174000"},"ventureId":{"type":"string","format":"uuid","description":"Venture ID","example":"123e4567-e89b-12d3-a456-426614174001"},"groupType":{"type":"string","description":"Group type (family, school, class, district, country, region, organization)","example":"family"},"externalId":{"type":"string","nullable":true,"description":"External ID linking to venture entity","example":"bg-family-uuid"},"name":{"type":"string","nullable":true,"description":"Group display name","example":"Smith Family"},"description":{"type":"string","nullable":true,"description":"Group description","example":"The Smith family reading group"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Flexible metadata","example":{"avatar":"https://example.com/avatar.png"}},"isPublic":{"type":"boolean","description":"Whether the group is discoverable","example":false},"isActive":{"type":"boolean","description":"Whether the group is active","example":true},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-15T12:00:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","ventureId","groupType","externalId","name","description","isPublic","isActive","createdAt","updatedAt"]},"GroupsErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"VALIDATION_ERROR"},"message":{"type":"string","description":"Error message","example":"Invalid request"},"details":{"type":"object","additionalProperties":{"nullable":true},"description":"Additional error details"}},"required":["code","message"]}},"required":["error"]},"CreateGroupRequest":{"type":"object","properties":{"groupType":{"type":"string","minLength":1,"maxLength":50,"description":"Group type (1-50 chars)","example":"family"},"externalId":{"type":"string","maxLength":100,"description":"External ID linking to venture entity","example":"bg-family-uuid"},"name":{"type":"string","maxLength":200,"description":"Group display name","example":"Smith Family"},"description":{"type":"string","maxLength":1000,"description":"Group description","example":"The Smith family reading group"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Flexible metadata","example":{"avatar":"https://example.com/avatar.png"}},"isPublic":{"type":"boolean","description":"Whether the group is discoverable (default: false)","example":false}},"required":["groupType"]},"GroupListResponse":{"type":"object","properties":{"groups":{"type":"array","items":{"$ref":"#/components/schemas/Group"},"description":"List of groups"}},"required":["groups"]},"UpdateGroupRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":200,"description":"Group display name","example":"Smith Family"},"description":{"type":"string","maxLength":1000,"description":"Group description","example":"The Smith family reading group"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Flexible metadata","example":{"avatar":"https://example.com/avatar.png"}},"isPublic":{"type":"boolean","description":"Whether the group is discoverable","example":false},"isActive":{"type":"boolean","description":"Whether the group is active","example":true}}},"GroupMembership":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Membership ID","example":"123e4567-e89b-12d3-a456-426614174000"},"userId":{"type":"string","format":"uuid","description":"User ID","example":"123e4567-e89b-12d3-a456-426614174001"},"groupId":{"type":"string","format":"uuid","description":"Group ID","example":"123e4567-e89b-12d3-a456-426614174002"},"role":{"type":"string","description":"Role within group (member, admin, owner)","example":"member"},"status":{"type":"string","description":"Membership status (active, pending, rejected)","example":"active"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Role-specific metadata","example":{"displayName":"Emma"}},"joinedAt":{"type":"string","format":"date-time","description":"When the user joined","example":"2025-01-15T12:00:00Z"}},"required":["id","userId","groupId","role","status","joinedAt"]},"AddMemberRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"User ID to add","example":"123e4567-e89b-12d3-a456-426614174001"},"role":{"type":"string","enum":["member","admin","owner"],"description":"Role within group (default: member)","example":"member"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Role-specific metadata","example":{"displayName":"Emma"}}},"required":["userId"]},"MemberListResponse":{"type":"object","properties":{"members":{"type":"array","items":{"$ref":"#/components/schemas/GroupMembership"},"description":"List of group members"}},"required":["members"]},"UpdateMemberRequest":{"type":"object","properties":{"role":{"type":"string","enum":["member","admin","owner"],"description":"Role within group","example":"admin"},"status":{"type":"string","enum":["active","pending","rejected"],"description":"Membership status","example":"active"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Role-specific metadata","example":{"displayName":"Emma"}}}},"UserGroup":{"type":"object","properties":{"membership":{"allOf":[{"$ref":"#/components/schemas/GroupMembership"},{"description":"Membership details"}]},"group":{"allOf":[{"$ref":"#/components/schemas/Group"},{"description":"Group details"}]}},"required":["membership","group"]},"UserGroupsResponse":{"type":"object","properties":{"groups":{"type":"array","items":{"$ref":"#/components/schemas/UserGroup"},"description":"List of groups the user belongs to"}},"required":["groups"]},"FeedGroup":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Group ID","example":"123e4567-e89b-12d3-a456-426614174002"},"name":{"type":"string","nullable":true,"description":"Group name","example":"Smith Family"},"type":{"type":"string","description":"Group type","example":"family"}},"required":["id","name","type"],"description":"Group this item belongs to"},"FeedUser":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"User ID (platform user)","example":"123e4567-e89b-12d3-a456-426614174001"},"profileId":{"type":"string","nullable":true,"format":"uuid","description":"Profile ID (venture-specific member/child profile)","example":"123e4567-e89b-12d3-a456-426614174002"},"name":{"type":"string","description":"Display name","example":"Emma"},"avatarUrl":{"type":"string","nullable":true,"description":"Avatar URL","example":"https://example.com/avatar.jpg"}},"required":["id","profileId","name","avatarUrl"],"description":"User who performed the action"},"ReactionSummary":{"type":"object","properties":{"emoji":{"type":"string","description":"Reaction emoji","example":"🎉"},"count":{"type":"integer","description":"Number of users who reacted with this emoji","example":3},"userReacted":{"type":"boolean","description":"Whether the current user reacted with this emoji","example":true}},"required":["emoji","count","userReacted"]},"CommentPreview":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Comment ID","example":"123e4567-e89b-12d3-a456-426614174003"},"userId":{"type":"string","format":"uuid","description":"Commenter user ID","example":"123e4567-e89b-12d3-a456-426614174001"},"userName":{"type":"string","description":"Commenter display name","example":"Dad"},"content":{"type":"string","description":"Comment content","example":"Great job!"},"createdAt":{"type":"string","format":"date-time","description":"Comment creation timestamp","example":"2025-01-15T12:00:00Z"}},"required":["id","userId","userName","content","createdAt"]},"CreateFeedItemResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Feed item ID","example":"123e4567-e89b-12d3-a456-426614174000"},"itemType":{"type":"string","description":"Type of feed item","example":"book_finished"},"group":{"$ref":"#/components/schemas/FeedGroup"},"user":{"$ref":"#/components/schemas/FeedUser"},"title":{"type":"string","description":"Feed item title","example":"Emma finished 'Charlotte's Web'"},"subtitle":{"type":"string","nullable":true,"description":"Feed item subtitle","example":"Her 5th book this month!"},"icon":{"type":"string","nullable":true,"description":"Icon emoji or name","example":"📚"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Item-specific metadata","example":{"bookId":"book-123","rating":5}},"occurredAt":{"type":"string","format":"date-time","description":"When the activity occurred","example":"2025-01-15T10:00:00Z"},"createdAt":{"type":"string","format":"date-time","description":"When the feed item was created","example":"2025-01-15T10:05:00Z"},"reactions":{"type":"array","items":{"$ref":"#/components/schemas/ReactionSummary"},"description":"Reaction summaries"},"commentCount":{"type":"integer","description":"Total number of comments","example":2},"recentComments":{"type":"array","items":{"$ref":"#/components/schemas/CommentPreview"},"description":"Recent comments preview"}},"required":["id","itemType","group","user","title","subtitle","icon","occurredAt","createdAt","reactions","commentCount"]},"FeedErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"VALIDATION_ERROR"},"message":{"type":"string","description":"Error message","example":"Invalid request"},"details":{"type":"object","additionalProperties":{"nullable":true},"description":"Additional error details"}},"required":["code","message"]}},"required":["error"]},"CreateFeedItemRequest":{"type":"object","properties":{"groupId":{"type":"string","format":"uuid","description":"Group ID (family, team, etc.)","example":"123e4567-e89b-12d3-a456-426614174002"},"userId":{"type":"string","format":"uuid","description":"User who performed the action","example":"123e4567-e89b-12d3-a456-426614174001"},"itemType":{"type":"string","minLength":1,"maxLength":50,"description":"Type of feed item","example":"book_finished"},"title":{"type":"string","minLength":1,"maxLength":200,"description":"Feed item title","example":"Emma finished 'Charlotte's Web'"},"subtitle":{"type":"string","maxLength":500,"description":"Feed item subtitle","example":"Her 5th book this month!"},"icon":{"type":"string","maxLength":20,"description":"Icon emoji or name","example":"📚"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Item-specific metadata","example":{"bookId":"book-123","rating":5}},"sourceType":{"type":"string","maxLength":50,"description":"Source table name","example":"bg_child_books"},"sourceId":{"type":"string","maxLength":100,"description":"Source record ID","example":"child-book-456"},"occurredAt":{"type":"string","format":"date-time","description":"When the activity occurred (defaults to now)","example":"2025-01-15T10:00:00Z"}},"required":["groupId","userId","itemType","title"]},"FeedItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Feed item ID","example":"123e4567-e89b-12d3-a456-426614174000"},"itemType":{"type":"string","description":"Type of feed item","example":"book_finished"},"group":{"$ref":"#/components/schemas/FeedGroup"},"user":{"$ref":"#/components/schemas/FeedUser"},"title":{"type":"string","description":"Feed item title","example":"Emma finished 'Charlotte's Web'"},"subtitle":{"type":"string","nullable":true,"description":"Feed item subtitle","example":"Her 5th book this month!"},"icon":{"type":"string","nullable":true,"description":"Icon emoji or name","example":"📚"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Item-specific metadata","example":{"bookId":"book-123","rating":5}},"occurredAt":{"type":"string","format":"date-time","description":"When the activity occurred","example":"2025-01-15T10:00:00Z"},"createdAt":{"type":"string","format":"date-time","description":"When the feed item was created","example":"2025-01-15T10:05:00Z"},"reactions":{"type":"array","items":{"$ref":"#/components/schemas/ReactionSummary"},"description":"Reaction summaries"},"commentCount":{"type":"integer","description":"Total number of comments","example":2},"recentComments":{"type":"array","items":{"$ref":"#/components/schemas/CommentPreview"},"description":"Recent comments preview"}},"required":["id","itemType","group","user","title","subtitle","icon","occurredAt","createdAt","reactions","commentCount"]},"FeedListResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/FeedItem"},"description":"List of feed items"},"nextCursor":{"type":"string","nullable":true,"description":"Cursor for next page","example":"2025-01-15T10:00:00Z_123e4567"},"hasMore":{"type":"boolean","description":"Whether there are more items","example":true}},"required":["items","nextCursor","hasMore"]},"ToggleReactionResponse":{"type":"object","properties":{"added":{"type":"boolean","description":"Whether the reaction was added (true) or removed (false)","example":true},"reactionId":{"type":"string","format":"uuid","description":"Reaction ID (if added)","example":"123e4567-e89b-12d3-a456-426614174004"}},"required":["added"]},"ToggleReactionRequest":{"type":"object","properties":{"emoji":{"type":"string","enum":["celebrate","heart","clap","fire","star"],"description":"Reaction type (celebrate, heart, clap, fire, star)","example":"celebrate"}},"required":["emoji"]},"Comment":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Comment ID","example":"123e4567-e89b-12d3-a456-426614174003"},"feedItemId":{"type":"string","format":"uuid","description":"Feed item ID","example":"123e4567-e89b-12d3-a456-426614174000"},"parentId":{"type":"string","nullable":true,"format":"uuid","description":"Parent comment ID (for threaded replies)","example":"123e4567-e89b-12d3-a456-426614174003"},"userId":{"type":"string","format":"uuid","description":"Commenter user ID","example":"123e4567-e89b-12d3-a456-426614174001"},"userName":{"type":"string","description":"Commenter display name","example":"Dad"},"userAvatarUrl":{"type":"string","nullable":true,"description":"Commenter avatar URL","example":"https://example.com/avatar.jpg"},"content":{"type":"string","description":"Comment content","example":"Great job!"},"createdAt":{"type":"string","format":"date-time","description":"Comment creation timestamp","example":"2025-01-15T12:00:00Z"},"updatedAt":{"type":"string","nullable":true,"format":"date-time","description":"Comment update timestamp","example":"2025-01-15T12:30:00Z"}},"required":["id","feedItemId","parentId","userId","userName","userAvatarUrl","content","createdAt","updatedAt"]},"CommentListResponse":{"type":"object","properties":{"comments":{"type":"array","items":{"$ref":"#/components/schemas/Comment"},"description":"List of comments"},"nextCursor":{"type":"string","nullable":true,"description":"Cursor for next page","example":"2025-01-15T10:00:00Z_123e4567"},"hasMore":{"type":"boolean","description":"Whether there are more comments","example":true}},"required":["comments","nextCursor","hasMore"]},"CreateCommentRequest":{"type":"object","properties":{"content":{"type":"string","minLength":1,"maxLength":500,"description":"Comment content (max 500 chars)","example":"Great job!"},"parentId":{"type":"string","format":"uuid","description":"Parent comment ID (for threaded replies)","example":"123e4567-e89b-12d3-a456-426614174003"}},"required":["content"]},"Notification":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Notification ID","example":"123e4567-e89b-12d3-a456-426614174000"},"notificationType":{"type":"string","description":"Type of notification","example":"feed_item"},"title":{"type":"string","description":"Notification title","example":"Emma finished a book!"},"body":{"type":"string","nullable":true,"description":"Notification body","example":"Charlotte's Web - Her 5th book this month"},"icon":{"type":"string","nullable":true,"description":"Icon emoji or name","example":"📚"},"sourceType":{"type":"string","nullable":true,"description":"Source type","example":"feed_item"},"sourceId":{"type":"string","nullable":true,"format":"uuid","description":"Source record ID","example":"123e4567-e89b-12d3-a456-426614174001"},"actionUrl":{"type":"string","nullable":true,"description":"Deep link URL","example":"/feed/item/123"},"readAt":{"type":"string","nullable":true,"format":"date-time","description":"When the notification was read","example":"2025-01-15T12:00:00Z"},"createdAt":{"type":"string","format":"date-time","description":"When the notification was created","example":"2025-01-15T10:00:00Z"}},"required":["id","notificationType","title","body","icon","sourceType","sourceId","actionUrl","readAt","createdAt"]},"InboxResponse":{"type":"object","properties":{"notifications":{"type":"array","items":{"$ref":"#/components/schemas/Notification"},"description":"List of notifications"},"unreadCount":{"type":"integer","description":"Total number of unread notifications","example":5},"nextCursor":{"type":"string","nullable":true,"description":"Cursor for next page","example":"2025-01-15T10:00:00Z_123e4567"},"hasMore":{"type":"boolean","description":"Whether there are more notifications","example":true}},"required":["notifications","unreadCount","nextCursor","hasMore"]},"NotificationErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"VALIDATION_ERROR"},"message":{"type":"string","description":"Error message","example":"Invalid request"},"details":{"type":"object","additionalProperties":{"nullable":true},"description":"Additional error details"}},"required":["code","message"]}},"required":["error"]},"SendNotificationResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Notification ID","example":"123e4567-e89b-12d3-a456-426614174000"},"delivered":{"type":"boolean","description":"Whether notification was stored successfully","example":true}},"required":["id","delivered"]},"SendNotificationRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"Recipient user ID","example":"123e4567-e89b-12d3-a456-426614174001"},"notificationType":{"type":"string","minLength":1,"maxLength":50,"description":"Type of notification","example":"feed_item"},"title":{"type":"string","minLength":1,"maxLength":200,"description":"Notification title","example":"Emma finished a book!"},"body":{"type":"string","maxLength":500,"description":"Notification body","example":"Charlotte's Web - Her 5th book this month"},"icon":{"type":"string","maxLength":20,"description":"Icon emoji or name","example":"📚"},"sourceType":{"type":"string","maxLength":50,"description":"Source type","example":"feed_item"},"sourceId":{"type":"string","format":"uuid","description":"Source record ID","example":"123e4567-e89b-12d3-a456-426614174001"},"actionUrl":{"type":"string","maxLength":500,"description":"Deep link URL","example":"/feed/item/123"}},"required":["userId","notificationType","title"]},"NotificationPreferenceType":{"type":"object","properties":{"in_app":{"type":"boolean","description":"Whether to show in-app notifications","example":true},"push":{"type":"boolean","description":"Whether to send push notifications","example":true}},"required":["in_app","push"],"description":"Preferences for feed item notifications"},"NotificationPreferences":{"type":"object","properties":{"feed_item":{"$ref":"#/components/schemas/NotificationPreferenceType"},"reaction":{"allOf":[{"$ref":"#/components/schemas/NotificationPreferenceType"},{"description":"Preferences for reaction notifications"}]},"comment":{"allOf":[{"$ref":"#/components/schemas/NotificationPreferenceType"},{"description":"Preferences for comment notifications"}]},"goal_reminder":{"allOf":[{"$ref":"#/components/schemas/NotificationPreferenceType"},{"description":"Preferences for goal reminder notifications"}]},"streak_warning":{"allOf":[{"$ref":"#/components/schemas/NotificationPreferenceType"},{"description":"Preferences for streak warning notifications"}]}},"description":"Per-type notification preferences"},"GetPreferencesResponse":{"type":"object","properties":{"preferences":{"$ref":"#/components/schemas/NotificationPreferences"},"pushEnabled":{"type":"boolean","description":"Whether push notifications are enabled globally","example":true},"quietHoursStart":{"type":"string","nullable":true,"description":"Quiet hours start time (HH:MM)","example":"22:00"},"quietHoursEnd":{"type":"string","nullable":true,"description":"Quiet hours end time (HH:MM)","example":"07:00"}},"required":["preferences","pushEnabled","quietHoursStart","quietHoursEnd"]},"UpdatePreferencesRequest":{"type":"object","properties":{"preferences":{"allOf":[{"$ref":"#/components/schemas/NotificationPreferences"},{"description":"Per-type notification preferences to update"}]},"pushEnabled":{"type":"boolean","description":"Whether push notifications are enabled globally","example":true},"quietHoursStart":{"type":"string","nullable":true,"description":"Quiet hours start time (HH:MM)","example":"22:00"},"quietHoursEnd":{"type":"string","nullable":true,"description":"Quiet hours end time (HH:MM)","example":"07:00"}}},"RegisterDeviceResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Device token record ID","example":"123e4567-e89b-12d3-a456-426614174000"},"registered":{"type":"boolean","description":"Whether the device was registered successfully","example":true}},"required":["id","registered"]},"RegisterDeviceRequest":{"type":"object","properties":{"token":{"type":"string","minLength":1,"maxLength":500,"description":"Push notification token","example":"ExponentPushToken[xxxxxxxxxxxxxxxxxxxxxx]"},"platform":{"type":"string","enum":["ios","android","web"],"description":"Device platform","example":"ios"},"deviceName":{"type":"string","maxLength":100,"description":"Device name","example":"iPhone 15 Pro"},"appVersion":{"type":"string","maxLength":20,"description":"App version","example":"1.2.3"}},"required":["token","platform"]}},"parameters":{}},"paths":{"/platform/v1/healthz":{"get":{"tags":["Health"],"summary":"Health check endpoint","description":"Returns service health status","responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthzResponse"}}}}}}},"/auth/v1/register":{"post":{"tags":["Auth"],"summary":"Register new user","description":"Create a new user account with email and password","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}}},"responses":{"201":{"description":"User created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Email already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/login":{"post":{"tags":["Auth"],"summary":"Login with email and password","description":"Authenticate user and return access/refresh tokens","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}}},"responses":{"200":{"description":"Login successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/refresh":{"post":{"tags":["Token"],"summary":"Refresh access token","description":"Exchange refresh token for new access/refresh token pair","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}}},"responses":{"200":{"description":"Token refreshed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshResponse"}}}},"401":{"description":"Invalid or expired refresh token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/password/reset":{"post":{"tags":["Password"],"summary":"Request password reset","description":"Send password reset email to user","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetRequest"}}}},"responses":{"200":{"description":"Reset email sent (if account exists)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetResponse"}}}}}}},"/auth/v1/password/reset/confirm":{"post":{"tags":["Password"],"summary":"Confirm password reset","description":"Reset password using token from email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetConfirmRequest"}}}},"responses":{"200":{"description":"Password reset successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetConfirmResponse"}}}},"400":{"description":"Invalid or expired token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/email/verify":{"post":{"tags":["Email"],"summary":"Verify email address","description":"Verify email using token from verification email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerifyRequest"}}}},"responses":{"200":{"description":"Email verified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailVerifyResponse"}}}},"400":{"description":"Invalid or expired token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/email/resend":{"post":{"tags":["Email"],"summary":"Resend verification email","description":"Resend email verification link","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationRequest"}}}},"responses":{"200":{"description":"Verification email sent (if applicable)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationResponse"}}}}}}},"/auth/v1/oauth/start":{"post":{"tags":["OAuth"],"summary":"Start OAuth flow","description":"Initiate OAuth authentication with external provider","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthStartRequest"}}}},"responses":{"200":{"description":"OAuth authorization URL","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthStartResponse"}}}},"400":{"description":"Invalid provider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/oauth/callback":{"post":{"tags":["OAuth"],"summary":"OAuth callback","description":"Handle OAuth callback from provider","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthCallbackRequest"}}}},"responses":{"200":{"description":"OAuth authentication successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthCallbackResponse"}}}},"400":{"description":"OAuth error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"OAuth authentication failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/managed-user/claim":{"post":{"tags":["ManagedAccounts"],"summary":"Claim managed user account","description":"Add email and password to an existing managed user account, enabling independent login. All history (activities, data) is preserved. This is a public endpoint - no authentication required.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimManagedUserRequest"}}}},"responses":{"200":{"description":"Account claimed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimManagedUserResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Account already claimed or email in use","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/logout":{"post":{"tags":["Session"],"summary":"Logout user","description":"Revoke refresh token and end session","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}}},"responses":{"200":{"description":"Logout successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/sessions":{"get":{"tags":["Session"],"summary":"List active sessions","description":"Get all active sessions for the current user","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Sessions list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionsResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/sessions/{sessionId}":{"delete":{"tags":["Session"],"summary":"Revoke a session","description":"Revoke a specific session by ID","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","description":"Session ID to revoke","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true,"name":"sessionId","in":"path"}],"responses":{"200":{"description":"Session revoked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Session not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/me":{"get":{"tags":["User"],"summary":"Get current user","description":"Get the profile of the currently authenticated user","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"User profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["User"],"summary":"Update current user profile","description":"Update profile information for the currently authenticated user","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}}},"responses":{"200":{"description":"Profile updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}},"400":{"description":"Invalid request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/users/{userId}":{"patch":{"tags":["User"],"summary":"Update user profile by ID (service-only)","description":"Update profile for a specific user by ID. Requires service authentication (internal JWT).","security":[{"bearerAuth":[]}],"parameters":[{"schema":{"type":"string","format":"uuid","description":"User ID to update","example":"123e4567-e89b-12d3-a456-426614174000"},"required":true,"name":"userId","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserByIdRequest"}}}},"responses":{"200":{"description":"Profile updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}}},"400":{"description":"Invalid request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Service authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/managed-user":{"post":{"tags":["ManagedAccounts"],"summary":"Create managed user account","description":"Create a managed user account without email/password. The user can participate in platform features but cannot log in until they claim their account. Requires service authentication (internal JWT).","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateManagedUserRequest"}}}},"responses":{"201":{"description":"Managed user account created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateManagedUserResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Service authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/managed-user/login":{"post":{"tags":["ManagedAccounts"],"summary":"Login as managed user (requires parent authorization)","description":"Creates a session for a managed user (child without email/password). Requires parent authorization via Bearer token. Parent must have parental consent relationship with the managed user. Returns child JWT for multi-account device sharing.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginManagedUserRequest"}}}},"responses":{"200":{"description":"Login successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginManagedUserResponse"}}}},"401":{"description":"Parent authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Not authorized for this child","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Managed user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/auth/v1/managed-user/consent":{"post":{"tags":["ManagedAccounts"],"summary":"Grant parental consent for a managed child","description":"Creates a parental consent record allowing the authenticated user (parent) to access the specified child account. Required for multi-child device sharing. Idempotent - safe to call if consent already exists.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantConsentRequest"}}}},"responses":{"200":{"description":"Consent granted successfully","content":{"application/json":{"schema":{"$ref":"#/compone
[...]
