{
  "openapi": "3.1.0",
  "info": {
    "title": "BriskStack Platform API",
    "version": "1.0.0",
    "description": "Unified API for all BriskStack platform services"
  },
  "servers": [
    {
      "url": "https://api.briskstack.com/ai-gateway/v1",
      "description": "Production"
    },
    {
      "url": "https://api-staging.briskstack.com/ai-gateway/v1",
      "description": "Staging"
    },
    {
      "url": "https://api-dev.briskstack.com/ai-gateway/v1",
      "description": "Development"
    },
    {
      "url": "http://localhost:8787/ai-gateway/v1",
      "description": "Local development"
    }
  ],
  "paths": {
    "/ai-gateway/v1/healthz": {
      "get": {
        "tags": [
          "AiGateway::Health"
        ],
        "summary": "Health check endpoint",
        "description": "Returns service health status",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGateway_HealthzResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ai-gateway/v1/chat/completions": {
      "post": {
        "tags": [
          "AiGateway::Chat"
        ],
        "summary": "Create chat completion",
        "description": "Creates a chat completion using AI providers via Cloudflare AI Gateway. Supports BYOK (Bring Your Own Key) - pass your AI provider API key in the X-API-Key header.",
        "security": [
          {
            "bearerAuth": [],
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiGateway_ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGateway_ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGateway_ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid OpenAI API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGateway_ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error - request body validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGateway_ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGateway_ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bad gateway - upstream API error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiGateway_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hello-world/v1/healthz": {
      "get": {
        "tags": [
          "HelloWorld::Health"
        ],
        "summary": "Health check endpoint",
        "description": "Returns service health status",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloWorld_HealthzResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hello-world/v1/": {
      "get": {
        "tags": [
          "HelloWorld::Core"
        ],
        "summary": "Hello endpoint",
        "description": "Returns a friendly hello message with service information",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloWorld_HelloResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hello-world/v1/messages": {
      "post": {
        "tags": [
          "HelloWorld::Messages"
        ],
        "summary": "Create message",
        "description": "Creates a new message",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HelloWorld_CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloWorld_CreateMessageResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloWorld_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hello-world/v1/protected": {
      "get": {
        "tags": [
          "HelloWorld::Auth"
        ],
        "summary": "Protected endpoint (requires authentication)",
        "description": "Demonstrates authentication - requires valid user JWT from Supabase",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success - authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloWorld_ProtectedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - no/invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloWorld_ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AiGateway_HealthzResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ],
            "description": "Health status indicator",
            "example": "ok"
          },
          "service": {
            "type": "string",
            "description": "Service name",
            "example": "hello-world"
          },
          "environment": {
            "type": "string",
            "description": "Deployment environment",
            "example": "production"
          },
          "version": {
            "type": "string",
            "description": "Service version",
            "example": "1.0.0"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Current server time in ISO 8601 format",
            "example": "2025-01-15T12:00:00Z"
          },
          "uptime": {
            "type": "number",
            "description": "Service uptime in seconds (if available)",
            "example": 3600
          }
        },
        "required": [
          "status",
          "service",
          "environment",
          "version",
          "timestamp"
        ]
      },
      "AiGateway_ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "function"
            ]
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ]
          },
          "name": {
            "type": "string"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "nullable": true
            }
          },
          "tool_call_id": {
            "type": "string"
          }
        },
        "required": [
          "role"
        ]
      },
      "AiGateway_ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/AiGateway_ChatMessage"
                },
                "finish_reason": {
                  "type": "string",
                  "nullable": true
                },
                "logprobs": {
                  "nullable": true
                }
              },
              "required": [
                "index",
                "message",
                "finish_reason"
              ]
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            },
            "required": [
              "prompt_tokens",
              "completion_tokens",
              "total_tokens"
            ]
          },
          "system_fingerprint": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "choices"
        ]
      },
      "AiGateway_ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "description": "Error message",
                "example": "Invalid request"
              },
              "details": {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Additional error details"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "AiGateway_ChatCompletionRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model to use (e.g., \"openai/gpt-4\", \"anthropic/claude-3-5-sonnet-20241022\")",
            "example": "openai/gpt-4"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AiGateway_ChatMessage"
            },
            "minItems": 1,
            "description": "Array of messages in the conversation"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "description": "Sampling temperature (0-2)",
            "example": 0.7
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Nucleus sampling parameter",
            "example": 1
          },
          "n": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Number of completions to generate",
            "example": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream responses",
            "example": false
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Stop sequences"
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Maximum tokens to generate",
            "example": 1000
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "Presence penalty (-2 to 2)",
            "example": 0
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "Frequency penalty (-2 to 2)",
            "example": 0
          },
          "logit_bias": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Token logit bias"
          },
          "user": {
            "type": "string",
            "description": "Unique user identifier"
          },
          "tools": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Tools available for the model to call"
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ],
            "description": "Controls which tool is called"
          },
          "response_format": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ]
              }
            },
            "required": [
              "type"
            ],
            "description": "Response format (text or json_object)"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed for deterministic sampling"
          }
        },
        "required": [
          "model",
          "messages"
        ]
      },
      "HelloWorld_HealthzResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ],
            "description": "Health status indicator",
            "example": "ok"
          },
          "service": {
            "type": "string",
            "description": "Service name",
            "example": "hello-world"
          },
          "environment": {
            "type": "string",
            "description": "Deployment environment",
            "example": "production"
          },
          "version": {
            "type": "string",
            "description": "Service version",
            "example": "1.0.0"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Current server time in ISO 8601 format",
            "example": "2025-01-15T12:00:00Z"
          },
          "uptime": {
            "type": "number",
            "description": "Service uptime in seconds (if available)",
            "example": 3600
          }
        },
        "required": [
          "status",
          "service",
          "environment",
          "version",
          "timestamp"
        ]
      },
      "HelloWorld_HelloResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Greeting message",
            "example": "Hello from BriskStack Platform!"
          },
          "service": {
            "type": "string",
            "description": "Service name",
            "example": "hello-world"
          },
          "environment": {
            "type": "string",
            "description": "Environment (development/staging/production)",
            "example": "development"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp",
            "example": "2025-01-15T12:00:00Z"
          },
          "version": {
            "type": "string",
            "description": "Service version",
            "example": "0.1.0"
          }
        },
        "required": [
          "message",
          "service",
          "environment",
          "timestamp",
          "version"
        ]
      },
      "HelloWorld_CreateMessageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Message ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "message": {
            "type": "string",
            "description": "Message content",
            "example": "Hello World"
          },
          "priority": {
            "type": "string",
            "description": "Message priority",
            "example": "medium"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp",
            "example": "2025-01-15T12:00:00Z"
          }
        },
        "required": [
          "id",
          "message",
          "priority",
          "createdAt"
        ]
      },
      "HelloWorld_ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "description": "Error message",
                "example": "Invalid request"
              },
              "details": {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                },
                "description": "Additional error details"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "HelloWorld_CreateMessageRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Message content (1-500 characters)",
            "example": "Hello World"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "description": "Message priority level",
            "example": "medium"
          }
        },
        "required": [
          "message"
        ]
      },
      "HelloWorld_ProtectedResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message",
            "example": "Access granted! You are authenticated."
          },
          "userId": {
            "type": "string",
            "description": "Authenticated user or service ID (from auth.sub)",
            "example": "user-123"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User roles or service scopes (from auth.roles)",
            "example": [
              "authenticated"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp",
            "example": "2025-01-15T12:00:00Z"
          }
        },
        "required": [
          "message",
          "userId",
          "roles",
          "timestamp"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token from Supabase authentication. Used for user authentication across all BriskStack services."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key authentication. Used for BYOK (Bring Your Own Key) scenarios, such as passing your own OpenAI/Anthropic API key to AI Gateway."
      }
    },
    "parameters": {}
  },
  "tags": []
}